body{
    margin: 0;
    background-color: rgb(213, 225, 239);
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
    height: 470px;
    width: 310px;
    background-color: white;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
img{
    width: 280px;
    position: relative;
    left: 14px;
    top: 10px;
    border: 1px;
    border-radius: 10px;
}
h2{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: rgb(26, 41, 69);
    width: 238px;
    font-size: 21px;
    margin-left: 11%;
    margin-top: 9%;
    line-height: 22px;

}
p{
  font-family: sans-serif;
   text-align: center;
   width: 246px;
   margin-left: 8%;
   font-size: 14px;
   line-height: 20px;
   color: hsl(216, 15%, 48%);
}